* {
    margin: 0;
    padding: 0;
}

.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

.sidebar {
    position: relative;
    left: 0;
    margin-top: 50%;
    height: 21px;
}

.feedback {
    position: absolute;
    background-color: purple;
    left: -57.47px;
}

p {
    position: absolute;
    background-color: red;
    z-index: 9;
    left: 0;
}