                        * {
                            margin: 0;
                            padding: 0;
                        }
                        
                        .clearfix:before,
                        .clearfix:after {
                            content: "";
                            display: table;
                        }
                        
                        .clearfix:after {
                            clear: both;
                        }
                        
                        .clearfix {
                            *zoom: 1;
                        }
                        
                        .container {
                            height: 300px;
                            width: 500px;
                            margin-left: 25%;
                            overflow: hidden;
                            position: relative;
                        }
                        
                        .prev,
                        .next {
                            display: none;
                            cursor: pointer;
                            background-color: grey;
                            border-radius: 50%;
                            width: 20px;
                            height: 20px;
                            text-align: center;
                            line-height: 20px;
                            position: absolute;
                            z-index: 999;
                        }
                        
                        .prev:hover,
                        .next:hover,
                        .dot>li:hover {
                            opacity: 0.5;
                        }
                        
                        .prev {
                            top: 50%;
                            left: 0;
                            margin-top: -10px;
                        }
                        
                        .next {
                            top: 50%;
                            right: 0;
                            margin-top: -10px;
                        }
                        
                        ul,
                        ol {
                            list-style: none;
                        }
                        
                        .dot>li {
                            height: 20px;
                            width: 20px;
                            background-color: grey;
                            border-radius: 50%;
                            float: left;
                            margin-left: 10px;
                            cursor: pointer;
                        }
                        
                        #current {
                            background-color: red;
                            ;
                        }
                        
                        .slide {
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 4000px;
                        }
                        
                        .slide>li {
                            position: absolute;
                            display: none;
                        }
                        
                        .slide>li:first-child {
                            display: block;
                        }
                        
                        .container>.dot {
                            position: absolute;
                            left: 50%;
                            margin-left: -60px;
                            bottom: 0;
                            display: none;
                            z-index: 999;
                        }
                        
                        .fade {
                            animation: fade;
                            animation-duration: 1s;
                            animation-timing-function: linear;
                        }
                        
                        @keyframes fade {
                            0% {
                                opacity: 0.3;
                            }
                            100% {
                                opacity: 1;
                            }
                        }